@use '../../styles/variables' as v;

.formContact-content {
  background-color: v.$main_color_light;
  min-height: 80vh;
  padding: 1em 5% 0 5%;
  margin-top: 8vh;
}

.formContact-title {
  position: relative;
  font-size: 1.6em;
  color: #ba9704;
  text-align: center;
  padding-top: 1em!important;
  // Keyframe est dans le ficher Agenda/Agenda.scss
  animation: slideChange 3s ease, ColorChange 2s infinite alternate;
}

.formContact-label {
  width: 100%;
  font-size: 1.1em!important;
}

.contactInfo-logo {
  margin-top: -10vh!important;
  // Keyframe est dans le ficher AboutUs/AboutUs.scss
  animation: wiggle 2s linear infinite;
}

.contactInfo-image {
  margin-top: -10vh!important;
  padding-bottom: 2em;
}

.formContact-button {
  font-size: 1.1em!important;
  padding: 0.5em;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(204,218,255,1) 60%, rgba(18,48,136,1) 90%)!important;
  color: v.$main_color_weight!important;  
}

.formContact-button:hover {
  background: linear-gradient(90deg, rgba(204,218,255,1) 90%, rgba(18,48,136,1) 100%)!important;
}

.becomeAMember-content {
  padding-bottom: 1em;
}

.becomeAMember-item-header {
  font-size: 1.9em!important;
  text-align: center;
}

.becomeAMember-item-decription-job {
  font-size: 1.7em!important;
  text-align: center;
  font-style: oblique;
  margin: 0!important;
}

.becomeAMember-item-decription-phone {
  font-size: 1.5em!important;
  text-align: center;
  margin: 0!important;
}

.becomeAMember-item-decription-info{
  width: 90%;
  margin: auto;
  background-color: v.$second_color_light;
  color: v.$main_color_weight;
  font-weight: 800;
  padding: .5em;
  text-align: center;
}

.boxOfIdea-logo {
  // Keyframe est dans le ficher EventDetails/EventDetails.scss
  animation: slideInFromRight 2s ease-out;
  width: 40em;
}

.sponsorUs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
  gap: 1em;
}

.sponsorUs-image {
  width: 30%;
  // Keyframe est dans le ficher EventDetails/EventDetails.scss
  animation: slideInFromRight 2s ease-out;
}

@media (min-width: 768px) { 
  .formContact-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formContact-title {
    font-size: 3em;
  }

  .formContact-form{
    width: 90%;
  }

  .formContact-left, .formContact-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactInfo-logo {
    height: 30em;
  }

  .contactInfo-image {
    height: 30em;
    width: 30em;
    // Keyframe est dans le ficher EventDetails/EventDetails.scss
    animation: slideInFromRight 2s ease-out;
  }

  .becomeAMember-item-image {
    margin-left: 10em!important;
  }

  .becomeAMember-item-decription-info{
    font-size: 1.4em;
  }

  .becomeAMember-item-group{
    text-align: center;
  }
}