// Color
$main_color_weight: #ba9704;
$second_color_weight: #123088;
$main_color_light: #fffbd5;
$second_color_light: #ccdaff;

// Font
$main_font: Barlow;
$second_font: Barlow condensed;
$subtitle-font : Quicksand;
$title_font: Montserras;
