@use '../../styles/variables' as v;

.footer-content {
  background: linear-gradient(90deg, rgba(186,151,4,1) 0%, rgba(255,251,213,1) 20%, rgba(255,251,213,1) 80%, rgba(186,151,4,1) 100%);
}

.footer-container-sponsor {
  display: flex;
  justify-content: center;
  align-self: center!important;
}

.ui.container.doubling.stackable.five.column.grid.footer-container-link{
  align-items: center!important;
}

.button-footer {
  border: none;
  // Pour mettre le backgroud en transparent
  background-color: rgba(76, 175, 80, 0)!important;
}

.footer-container-link {
  border-top: 3px solid v.$main_color_weight;
  border-bottom: 3px solid v.$main_color_weight;
  margin: auto!important;
  text-align: center;
}

#footer-link .button-footer {
  padding: .3em 0!important;
}

.link-a-footer {
  color: black;
}

.link-a-footer:hover {
  scale: 1.2!important;
  font-weight: 600;
  color: v.$second_color_weight;
}

@media screen and (min-width: 767px) {
  .link-a-footer {
    font-size: 1.2em;
    padding: .5em 0!important;
  }

  .footer-image {
    width: 50%;
    margin: auto;
  }

  .footer-image:hover {
    scale: 1.2!important;
  }
  
}